@import 'tailwindcss';

@theme {
    --color-avocado-50: oklch(0.971 0.013 17.38);
    --color-avocado-100: oklch(0.95 0.026 17.38);
    --color-avocado-200: oklch(0.902 0.058 17.38);
    --color-avocado-300: oklch(0.828 0.111 17.38);
    --color-avocado-400: oklch(0.746 0.16 17.38);
    --color-avocado-500: oklch(0.685 0.169 17.38);
    --color-avocado-600: oklch(0.588 0.158 17.38);
    --color-avocado-700: oklch(0.5 0.134 17.38);
    --color-avocado-800: oklch(0.443 0.11 17.38);
    --color-avocado-900: oklch(0.391 0.09 17.38);
    --color-avocado-950: oklch(0.293 0.066 17.38);
    --color-avocado-50: oklch(0.971 0.013 17.38);
    --color-avocado-100: oklch(0.95 0.026 17.38);
    --color-abu-monyet: #4C585B;
    --breakpoint-tablet: 640px;
    --breakpoint-desktop: 1024px;
}
.card {
    @apply flex flex-col gap-2 border border-abu-monyet p-4 sm:flex-row sm:items-center;
  }
  
  .card-title {
    @apply text-3xl font-bold text-abu-monyet;
  }
  
  .pill {
    @apply w-fit rounded-full bg-gray-400 px-2 text-sm text-white;
  }
  .background {
    background-image: url('/backgroundarrow.png');
  }